
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<div align="center">
    @Html.ActionLink("Create", "Create", "Customer", new { area = "" }, null)
    <br /><br />
    <table cellpadding="2"
           class="table"
           cellspacing="2"
           border="1">
        <tr class="btn-primary">

            <th>
                GPID
            </th>
            <th> Name</th>
            <th> Address</th>
            <th> MobileNo</th>
            <th> ExpiryDate</th>
            <th> CVV</th>
            <th> Action</th>
        </tr>
        @foreach (var Cust in ViewBag.listCustomers)
        {
            <tr class="btn-success">
                <td>
                    @Cust.GPID
                </td>
                <td>
                    @Cust.Name
                </td>
                <td>
                    @Cust.Address
                </td>
                <td>
                    @Cust.MobileNo
                </td>
                <td>
                    @Cust.ExpiryDate.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @Cust.CVV
                </td>
                <td>
                    <a onclick="return confirm('Do you want to Delete?')"
                       href="@Url.Action("Delete","Customer",new {id= Cust.GPID})">Delete</a> ||
                    <a href="@Url.Action("Edit","Customer",new {id= Cust.GPID})">Edit</a>
                    @*@Html.ActionLink("Edit", "Edit", "Customer", new { id = Cust.GPID })*@
                </td>

            </tr>
        }
    </table>
</div>
